/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --primary-color: #12b886;
  --primary-tints: #d0f1e7;
  --primary-shades: #02120d;

  --extra-big-font: 5.2rem;
  --big-font: 4.4rem;
  --medium-font: 3.6rem;
  --small-font: 2rem;
  --extra-small-font: 1.6rem;
  --extreme-small-font: 1.4rem;

  --big-section-space: 9.6rem;
  --section-space: 8rem;

  --flex-small-gap: 0.6rem;
}

/* Inheritance */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: var(--primary-color) var(--primary-shades);
}

body {
  font-family: "Times New Roman", serif;
  font-weight: 400;
  color: #444;
  line-height: 1;
}

.mobile-form {
  display: none;
}

/* Grids */
.grid {
  display: grid;
}

.grid--2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid--3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-v {
  align-items: center;
}

.flex {
  display: flex;
  gap: var(--flex-small-gap);
}

/* Utilities */
::placeholder {
  background-color: #e7f8f3;
  color: #555;
}

a:link,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.75px;
  line-height: 1.02;
}

.heading-primary {
  font-size: var(--extra-big-font);
}

.heading-secondary {
  font-size: var(--big-font);
}

.heading-tertiary {
  font-size: var(--medium-font);
}

p {
  line-height: 1.8;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 700;
  font-size: var(--small-font);
  transition: all 0.3s ease-in-out;
}

.primary-btn:link,
.primary-btn:visited {
  background-color: #12b886;
  color: #02120d;
}

.primary-btn:hover,
.primary-btn:active {
  color: #12b886;
  background-color: #02120d;
}

.secondary-btn:link,
.secondary-btn:visited {
  background-color: #fff;
  color: #02120d;
}

.secondary-btn:hover,
.secondary-btn:active {
  color: #fff;
  background-color: #02120d;
}

.school-name {
  border-bottom: 3px solid var(--primary-color);
}
